@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;	
}

nav {
	margin: 0 auto;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c6b299;
	list-style: none;
}

#image1 {
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	height: 150px;
	background-color:#cb0003;
}

#headerIndex {
	margin: 0 auto;
	width: 800px;
	padding-left:20px;
	padding-top: 20px;
	height: 50px;
}

#mainText {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	background-color: #c6b299;
	/* width: 800px;  this is for pc web pages */
	width: 350px; /* this is for mobile width */
	margin: 0 auto;
}

#about {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;	
	background-color: #c6b299;
	/* width: 800px;  this is for pc web pages */
	width: 350px; /* this is for mobile width */
	margin: 0 auto;
}

#store {
	margin: 0 auto;
	background-color: #c6b299;
	width:800px;
}

#product {
	height:625px;	
	width:260px;
	float:left;
	background-color: #c6b299;

}

#productImages {
	list-style:none;
	line-height:55px;
	padding-top:20px;
	background-color: #c6b299;
}

#block {
	width: 50px;
	height: 50px;
}

#logoGame {
	width: 50px;
	height: 50px;
}

#sorry {
	width: 50px;
	height: 50px;
}

#firefly {
	width: 50px;
	height: 50px;
}

#productText {
	font-size:12px;	
	padding-left:50px;
	padding-top:50px;
	float:left;
	width:450px;
	background-color: #c6b299;
}

#productText2 {
	font-size:12px;	
	padding-left:50px;
	padding-top:110px;
	float:left;
	width:450px;
	background-color: #c6b299;
}

#productText3 {
	font-size:12px;	
	padding-left:50px;
	padding-top:100px;
	padding-bottom:73px;
	float:left;
	width:450px;
	background-color: #c6b299;
}

#utilityPage {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;	
	background-color: #c6b299;
	width: 800px;
	height: 700px;
	margin: 0 auto;
}

footer {
	clear: both;
	margin: 0 auto;
	height: 30px;
	font-size: 90%;
	text-align:center;
	padding-top: 10px;
	background-color:#cb0003;	
}
