@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;	
}

nav {
	margin: 0 auto;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #c6b299;
	list-style: none;
}

#image1 {
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	height: 150px;
	background-color:#cb0003;
}

#headerIndex {
	margin: 0 auto;
	/* width: 800px; for regular website view */
	width: 250px; /* for mobile site only */
	padding-left:20px;
	padding-top: 20px;
	height: 50px;
}

#mainText {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	background-color: #c6b299;
	/* width: 800px;  this is for pc web pages */
	width: 250px; /* this is for mobile width */
	margin: 0 auto;
}

#about {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;	
	background-color: #c6b299;
	/* width: 800px;  this is for pc web pages */
	width: 250px; /* this is for mobile width */
	margin: 0 auto;
}

#store {
	margin: 0 auto;
	background-color: #c6b299;
	/* width: 800px;  this is for pc web pages */
	width: 260px; /* this is for mobile width */
}

#product {
	height:625px;	
	/* width:260px; for regular web view */
	width: 110px; /* for mobile view only */
	float:left;
	background-color: #c6b299;

}

#productImages {
	list-style:none;
	line-height:55px;
	padding-top:20px;
	background-color: #c6b299;
	list-style-position:inherit;
}

#block {
	width: 100px; /* these values for mobile site only */
	height: 100px;
}

#logoGame {
	width: 100px; /* these values for mobile site only */
	height: 100px;
}

#sorry {
	width: 100px; /* these values for mobile site only */
	height: 100px;
}

#firefly {
	width: 100px; /* these values for mobile site only */
	height: 100px;
}

#productText {
	font-size:12px;	
	padding-left: 2px; /* for web make 50px */
	padding-top: 10px; /* for web make 50px */
	float:left;
	/* width:450px; for regular web view */
	width: 150px; /* kfor mobile site only */
	background-color: #c6b299;
}

#productText2 {
	font-size:12px;	
	padding-left: 2px; /* for web make 50px */
	padding-top: 10px; /* for web make 110px */
	float:left;
	/* width:450px; for regular web view */
	width: 150px; /* kfor mobile site only */
	background-color: #c6b299;
}

#productText3 {
	font-size:12px;	
	padding-left: 2px; /* for web make 50px */
	padding-top: 10px; /* for web make 110px */
	padding-bottom:73px;
	float:left;
	/* width:450px; for regular web view */
	width: 150px; /* kfor mobile site only */
	background-color: #c6b299;
}

#utilityPage {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;	
	background-color: #c6b299;
	width: 800px;
	height: 700px;
	margin: 0 auto;
}

footer {
	clear: both;
	margin: 0 auto;
	height: 30px;
	font-size: 90%;
	text-align:center;
	padding-top: 10px;
	background-color:#cb0003;	
}
